body {
    background: #222629;
    font-family: 'Arvo', serif; 
}

h1 {
    color: #6FB2DB;
}

.jtstyles {
    background: #222629;
    text-align: center;
    color: white;
}

.optionColors {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #474B4F;
}

.optionStyles {
    padding-top: 5px;
    margin-left: 15px;
}

.optionStyles:first-child {
    margin-left: 0;
}

p, i, span, label {
    color: #9DB2DB;
}

.fab {
    padding-right: 20px;
}

i {
    font-size: 30px;
}

.newcard {
    float: left;
    padding: 33px;
}

img {
    height: 260px;
    width: 190px;
    margin-right: 15px;
   
}

.btnStyles {
    background-color: #9DB2DB;
    color: white;
}