body {
    background: #222629;
    font-family: 'Arvo', serif; 
}
.jtstyles {
    background: #222629;
    text-align: center;
    color: white;
}

.jtstyles p {
    
}

.optionColors {
    color: white;
    background: #474B4F;
}